body {
    font-size: 14px !important;
}

#main-container{
    padding: 0px;
}
h1,h3,h2{
    font-family: 'Roboto', sans-serif;
}

#wraper{
    background-color: #e41114;
}


.left-card-label{
    color:#c5c7c3;
    font-size: 12px;
    font-weight: 500;
    margin:0;
    padding:0;
    margin-left:5px;
    margin-bottom: 10px;
    margin-top:0px;
    padding-bottom: 0;
    padding-top: 0;
}


.left-card-heading{
    margin:0;
    padding:0;
    font-weight : 500 !important;
    font-size: 1.1em;
}

.midCard{
    margin: 0;
    margin-bottom: 4px;
    padding:1;
    min-height: 260px;
}



md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 100px !important;
    /*width: 85vw !important;*/
    width: 100% !important;
    max-width: 250px !important;
}


.right-nav-element{
    margin-top: 10px;
    margin-bottom: 5px;
}

.right-nav-select .md-select-label{
    border:none
}

.right-nav-list-font{
    font-size: 12px;
    /*font-weight: 500;*/
}

.left-nav-divider{
    margin-bottom: 10px;
}

.splash-h1{
    padding-top: 0px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-grow: 1;
    color: black;
}

.card-divs{
    padding: 0;
    margin: 0;
    padding-right:50px;
    padding-left:50px;

}


/*not ideal way to do this*/
.md-toast-open-bottom .md-bottom{
    position: fixed !important;

}


#card-headers{
    padding-bottom: 5px;
    padding-left: 65px;
    font-size: 22px;

}

#main-container a{
    color: rgba(0,0,0,.73);
}

#main-container .logo{
    height:65px;
}

.splash-icons{
    padding-top: 10px;
}

.sidenav-icon{
    margin-top: -3px;
}

.main-content-link {
    text-decoration: none !important;
}



#partner-header{
    padding-left:0;
}


#portal-wraper{
background-color: #4a3fe4;
color: black;
}


.card-links:hover{
    background-color: #BBDEFB !important;
}


a{
    text-decoration:none !important;

}
.card-radius{
    -webkit-border-radius: 7px !important;
}
.side-nav{
    height: 600px;
}

.text-span{
    margin-left : 5%;
    font-size: 12px;
    margin-top : 6px;
}


.right-sidenav-black{
    color: black;
}




@media (max-width: 2800px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 710px;
        right: 250px;
    }
}
@media (max-width: 2500px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 380px;
        right: 250px;
    }
}
@media (max-width: 1800px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 150px;
        right: 250px;
    }
}
@media (max-width: 1300px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 70px;
        right: 250px;
    }
}
@media (max-width: 1050px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 10px;
        right: 40px;
    }
}


@media (max-width: 960px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 720px) {
    .user-add-btn {
        position: fixed !important;
        bottom: 0px;
        right: 0px;
    }
}
@media (max-width: 2800px) {
    .user-add-btn-corner {
        position: fixed !important;
        bottom: 10px;
        right: 20px;
    }
}
@media (max-width: 1800px) {
    .user-add-btn-corner  {
        position: fixed !important;
        bottom: 10px;
        right: 20px;
    }
}
@media (max-width: 1300px) {
    .user-add-btn-corner  {
        position: fixed !important;
        bottom: 10px;
        right: 20px;
    }
}
@media (max-width: 1050px) {
    .user-add-btn-corner  {
        position: fixed !important;
        bottom: 10px;
        right: 20px;
    }
}


@media (max-width: 960px) {
    .user-add-btn-corner  {
        position: fixed !important;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 720px) {
    .user-add-btn-corner  {
        position: fixed !important;
        bottom: 0px;
        right: 0px;
    }
}



.splash-btn{
    height: 85px !important;
}

md-input-container md-icon{
    top : 28px !important;
    /*color : !important;*/
}
.left-margin{
    margin-left:36px
}
.signin-div{
    min-height: 500px;
}


/*.content-height{*/
    /*max-height: 480px;*/
    /*overflow-x : scroll;*/
/*}*/